@charset "UTF-8";
/* CSS Document */


@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_regularregular';
    src: url('../fonts/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'velino_sans_boldbold';
    src: url('../fonts/velino_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'velino_sansbook';
    src: url('../fonts/velino_sans_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}